html {
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        background-color: #151E29;
    body {
        color: #1D8DEE;
        font-size: 18px;
        font-family: 'Gloria Hallelujah', cursive;
        .title {
            text-align: center;
            font-size: 70px;
        }
    }
}